
<h1 class="center">Hi! Let me introduce myself, the creator of this website.</h1><br>
<p class="center sub">My name is Pietro Majowka, I'm a full Stack Developer, here are my current skills:</p>

<br><br><br><br><br>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s1.postimg.org/utjzyov3v/htmlb.png"></img></div>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s15.postimg.org/je7klw4w7/cssb.png"></img></div>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s8.postimg.org/qx9516mu9/jsb.png"></img></div>
<div class="col-lg-3  blocks"><br><img src="http://s2.postimg.org/cx4g0e345/railsb.png"></img></div>
<br><br><br>
<div class="col-lg-12 center skills2">
  <img src="http://s30.postimg.org/69glwo37x/bsb.png"></img>
  <img src="http://s7.postimg.org/b4pwci81z/jquery.png"></img>
  <img src="http://s8.postimg.org/q5dqcwco1/ajax.png"></img>
  <img src="http://s17.postimg.org/rfawmmtnv/mysql.png"></img>
</div>
<br>
<div class="col-lg-12 center"><br><br><h2>Want to hire a talent Fullstack Ruby on Rails developer?</h2><br><a href="mailto:pietro.majowka@gmail.com" class="btn btn-primary btn-contact">contact me!</a><br><br><br></div>