<br><br><br><br>
<h1 class="center">Hi! Let me introduce myself, the creator of this website.</h1><br>
<p class="center sub">My name is Pietro Majowka, I'm a full Stack Developer and I will be happy if you check below:</p>

<br><br><br><br><br><br>
<div class="col-lg-4 sidebar blocks"><br>More about me on my GitHub,<br><br><br><a href="https://github.com/pietromaj"><img src="http://s15.postimg.org/qokc16lav/githublogo.png"></img></a></div>
<div class="col-lg-4 sidebar blocks"><br>My Portfolio,<br><br><br><a href="#"><img src="http://s16.postimg.org/brq8n0k8x/logoapps.png"></img></a><br>Still working on it!</div>
<div class="col-lg-4 blocks"><br>Or contact me by mail!<br><br><br><a href="mailto:pietro.majowka@gmail.com"><img src="http://s23.postimg.org/m5og73i6f/logomail.png"></img></a></div>