
<h1 class="center">Hi! Let me introduce myself, the creator of this website.</h1><br>
<p class="center sub">My name is Pietro Majowka, I'm a full Stack Developer, check my current skills:</p>

<br><br><br><br><br>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s27.postimg.org/q3we49ixr/html.png"></img></div>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s22.postimg.org/3zjdtlvrx/css.png"></img></div>
<div class="col-lg-3 sidebar blocks"><br><img src="http://s8.postimg.org/ubtzehmw1/image.png"></img></div>
<div class="col-lg-3  blocks"><br><img src="http://s29.postimg.org/s5vwy0ik3/rails.png"></img></div>
<br><br><br>
<div class="col-lg-12 center skills2">
  <img src="http://s7.postimg.org/64sg4k2fb/image.png"></img>
  <img src="http://s7.postimg.org/b4pwci81z/jquery.png"></img>
  <img src="http://s8.postimg.org/q5dqcwco1/ajax.png"></img>
  <img src="http://s17.postimg.org/rfawmmtnv/mysql.png"></img>
</div>