<h1 class="title">Salary table</h1>
<hr class="style-one">
<br>
<table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>0-2 Exp</th>
        <th>2-5 Exp</th>
        <th>6+ Exp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Stack Developer</td>
        <td>14-15</td>
        <td>15-20</td>
        <td>20-32</td>
      </tr>
      <tr>
        <td>Front-end Developer</td>
        <td>10-15</td>
        <td>15-18</td>
        <td>18-22</td>
      </tr>
      <tr>
        <td>Back-end Developer</td>
        <td>14-15</td>
        <td>15-20</td>
        <td>20-32</td>
      </tr>
    </tbody>
  </table>
