<h1 class="title">Salary table</h1>
<hr class="style-one">
<br>
<table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>0-2 Exp(Junior)</th>
        <th>3+ Exp(Senior)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Stack Developer</td>
        <td>15</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Front-End Developer</td>
        <td>10</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Back-end Developer</td>
        <td>12</td>
        <td>16</td>
      </tr>
    </tbody>
  </table>
