@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color:  #fff;
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  //font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  height: 100%;
}



.btn-review{
  border-radius: 0;
  border: 2px solid #0091ee;
  color: #0091ee;
  background-color: transparent;
  //font-weight: bold;
  font-size: 18px;
  &:hover{
    background-color: #0091ee;
    color: white;
    border: 2px solid #0091ee;
  }
}

h1.title{
  font-family: 'Poiret One', cursive;
  color: #777;
  font-size: 45px;
}

h4.title2{
  font-family: 'Poiret One', cursive;
  color: #333;
  font-size: 25px;
  font-weight: bold;
}

h4.title4{
  font-family: 'Poiret One', cursive;
  color: #333;
  font-size: 21px;
  font-weight: bold;
}

.blocks{
  text-align: center;
  height: 200px;
}

.center{
  text-align: center;
}

.copyright{
  color: #eee;
  background-color: #555;
  height: 20px;
  font-size: 12px;
}

.tall{
  height: 180px;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
  float: right;
}

.footer{
  width: 100%;
  height: 200px;
  color: #555;
  background-color: #ddd;
  border-top: 2px solid #428bca;
}




hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #777, #ccc);
      margin-top: 0px;
}

.navbar-brand{
  font-size: 22px;
}

.no-pad{
  padding-left: 0px;
}

.no-pad2{
  padding-left: 0px;
  padding-right: 50px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.panel{
  box-shadow: 1px 1px #ccc;
}

.sidebar{
  border-right: 1px solid #ccc;
}

.signup-box{
  padding: 20px;
  width: 400px;
  text-align: center;
}

.social-button{
  height: 80px;
  width: 80px;
  background-color: #f00;
}

.sub{
  font-size: 16px;
}

ul.social-list{
  li { display:inline }
  div { display:inline }
}

.stars{
  margin-bottom: 10px;
}

#company{
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
 #panel-company:hover #company{
    height: 68px;
     border-bottom: 2px solid #428bca;
    -webkit-transition: border-bottom 200ms linear;
    -moz-transition: border-bottom 200ms linear;
    -o-transition: border-bottom 200ms linear;
    -ms-transition: border-bottom 200ms linear;
    transition: border-bottom 200ms linear;
}

a {
  color: #000;

  
  &:hover {
   text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.logo{
  height: 100px;
  width: 100px;
}

.logo2{
  height: 80px;
  width: 80px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 200px;
  background-color: #f5f5f5;
}

.show-space{
  margin-bottom: 120px;
}

#error_explanation {
  h2{
   font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #f22;
    background-color: transparent;
  }
    border: 0px;
    width: 100%;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.field_with_errors {
    padding: 2px;
    background-color: transparent;
    color: #f22;
    display: table;
}

.review{
  border-left: 1px solid #428bca;
  padding-left: 10px;
  margin-bottom: 25px;
}

.positions {
  background-color: #eee;
  right: 15px;
  top: 15px;
  line-height: 150%;
  padding-top: 6px;
  margin-bottom: 35px;
  padding-bottom: 15px;
  
}

.no-pad-2{
  padding-right: 0px;
  margin-bottom: 25px;
}

.mainmap{
  height: 400px;
  background-color: #eee;
  right: 15px;
  top: 15px;
  line-height: 150%;
  padding-top: 6px;
  margin-bottom: 35px;
  padding-bottom: 15px;
  border: 10px solid #ccc;
}

hr.style-two {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.banner{
  background-repeat: no-repeat;
  background-image: url("http://s17.postimg.org/qc1ja38rj/banner.png");
  //background-image: url("http://s1.postimg.org/b5gniwwf3/banner.png");
  //background-color: #FFEFBF;
  height: 150px;
  color: white;
  //border-bottom: 2px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title3{
  padding-top: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

#central-map{
  height: 400px;
  width: 365px;
}