<footer class="footer">
  <div class="container tall">
   
   
     <div class="col-lg-4 center">
       <br><br>
        <a href="/static_pages/table">Salary table</a><br>
       <a href="/static_pages/hire">Hire a RoR developer!</a><br>
        <a href="/">Top Companies</a><br><br>
        Contact me: <a href="mailto:pietro.majowka@gmail.com">pietro.majowka@gmail.com</a>
      </div>
      
      
      
      <div class="col-lg-4 center">
       <br><br>
        Know me:<br><br>
       <div><a href="https://github.com/pietromaj"><img src="http://s21.postimg.org/ghhgh79sj/github.png"></img></a></div>
       </div>

        
        
      <div class="col-lg-4 center">
       <div><a href="http://rubyonrails.org/"><br><br><img src="http://s8.postimg.org/4pil9ax6p/railslogo.png"></img></a></div>
      </div>
      
      
  </div>
  <div class="col-lg-12 copyright  right">
     <div class="container">Pietro Majowka &#169 copyright 2015</div>
  </div>
</footer>
